body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Cambiado para centrar verticalmente */
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .player-container {
        flex-direction: row;
    }
}

.player-section {
    width: 90%;
    text-align: center;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .player-section {
        width: 45%;
    }
}

.player-box-container {
    margin: 20px 0;
}

.player-box {
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    background-color: #ddd;
    border-radius: 50%; /* Círculo */
    margin: 0 auto; /* Centrado horizontal */
}

.logo-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    flex-shrink: 0;
}

.logo img {
    width: 25vw;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.play-button {
    margin: 20px 0; /* Ajusta el margen para ubicar el botón bien */
    padding: 20px 50px;
    font-size: calc(10px + 2vmin); /* Ajusta el tamaño de la fuente */
    cursor: pointer;
    width: 50%;
    max-width: 200px;
    box-sizing: border-box;
}

.action-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: calc(10px + 1.5vmin);
    cursor: pointer;
    width: 80%;
    max-width: 200px;
    box-sizing: border-box;
}

.play-mode {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: calc(10px + 1.5vmin);
    cursor: pointer;
    width: 80%;
    max-width: 200px;
    box-sizing: border-box;
}
